* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 70%;
    height: 80px;
    text-align: center;
    border: inherit;
  }
  body {
      display: block;
      margin: 8px;
  }

 